In [ ]:
# Condicionales

num1 = int(input("Numero 1:"))
num2 = int(input("Numero 2:"))

if num1 > num2:
    print(f"El numero {num1} es mayor que el {num2}")
elif num1 == num2:
    print(f"Los dos numeros son iguales {num2}")
else:
    print(f"El numero {num1} es menor que el {num2}")

In [4]:
# Condicionales parte dos 

num1 = int(input("Numero 1:"))
num2 = int(input("Numero 2:"))

if num1 > num2:
    if num1 > 10:
        print(f"El numero {num1} es mayor que el {num2} y es mayor que el numero 10")
elif num1 == num2:
    if num1 > 10:
        print(f"Los dos numeros son iguales {num2}")
else:
    print(f"El numero {num1} es menor que el {num2}")

El numero 20 es mayor que el 10 y es mayor que el nuemero 10

In [6]:
# Condicionales parte tres

num1 = int(input("Numero 1:"))
num2 = int(input("Numero 2:"))

if (num1 > num2) and (num1 > 10):
        print(f"El numero {num1} es mayor que el {num2} y es mayor que el numero 10")

elif (num1 == num2) and (num1 > 10):
        print(f"Los dos numeros son iguales {num2}")
        
else:
    print(f"El numero {num1} es menor que el {num2}")

Los dos numeros son iguales 11

In [ ]:
# El operador logico "And" funciona asi
# and / true = 1
# True and True -> True
#True and False ->false

In [9]:
# Estructuras de datos: Listas
list01 = ["jesus", "juana", "pamela","valentina"]

In [ ]:
listnumber = [1, 2 ,3 4, 5]

In [ ]:
# Estructuras de datos: Listas
list01 = [
    "jesus", 
    "juana", 
    "pamela",
    "valentina"]

In [10]:
list01

['jesus', 'juana', 'pamela', 'valentina']

In [ ]:
# las listas tienen su indice de posicion de izquierda a derecha 
#            0         1       2         3
list01 = ["jesus", "juana", "pamela","valentina"]

In [11]:
list01[1]

'juana'

In [12]:
list01[3]

'valentina'

In [13]:
#name_list[star:stop+1]
list01[0:2]

['jesus', 'juana']

In [15]:
list01[0:3]

['jesus', 'juana', 'pamela']

In [ ]:
# las listas tienen su indice de posicion de izquierda a derecha 
#            -3         -1       -2         -1
list01 = ["jesus", "juana", "pamela","valentina"]

In [ ]:
# las listas tienen su indice de posicion de izquierda a derecha 
#            0         1       2         3
lista_name = ["jesus", "jadsana", "pamasdla","valentfadsna"]

In [16]:
list01.append("sebas")

In [17]:
list01

['jesus', 'juana', 'pamela', 'valentina', 'sebas']

In [19]:
len(list01)

5

In [20]:
name = list01.copy()

In [21]:
name

['jesus', 'juana', 'pamela', 'valentina', 'sebas']

In [28]:
# Ciclo finito for 
#for variable_iteracion in arreglos_datos:
# Sentencias necesarias

for iten in name:
    print(iten)

jesus
juana
pamela
valentina
sebas

In [27]:
for iten in len(names):
    print(iten)

NameError: name 'names' is not defined

In [26]:
for item in range(3):
    print(item)

0
1
2

In [33]:
name_x = input("Ingrese su nombre:")
for iten in range(len(name)):
    if name[item] == name_x: 
        print(f'Encontre a "{name_x}" en la posicion "{item}" en la posicion iten de esta lista')
    break

        #print(f'El nombre "{name_x}" no se encuentra en la lista')

In [ ]:
#listas