### Contenido de python
*variables
*errores tipicos
*operadores matematicos basicos 
*Operadores de comparacion
*Estructura de control
    -Condicionales
    -Ciclos Finitos
    -Ciclos infinitos
    -funciones
*Estructuras de datos
    -Cadenas de caracteres
    -Numeros Enteros
    -numeros flotantes
    -listas
    -Diccionarios
    -Tuplas

Referencia: El libro de python:

In [26]:
print("Hola mundo")

Hola mundo

In [27]:
#Variables 

number = 12
name "Sebas"
number2 = 34.66

SyntaxError: invalid syntax (637284456.py, line 4)

In [3]:
#Cosas que no se deben hacer

Number = 3
NumberTwo = 12
Number-Two = 12

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3895592138.py, line 5)

In [4]:
Number.Two = 21

NameError: name 'Number' is not defined

In [7]:
number_one = 21
number_two = 12

In [8]:
number_one
number_two

12

In [16]:
print("Numero uno:" ,number_one)
print("Numero dos:" ,number_two)

Numero uno: 21
Numero dos: 12

In [18]:
#Operadores Matematicos

#Suma
result_suma = number_one + number_two
print("El resultado de la suma es:", result_suma)

#Resta
result_sub = number_one - number_two
print("El resultado de la resta es:", result_sub) 

#Multiplicacion
result_multi = number_one * number_two
print("El resultado de la multiplicacion es:", result_multi)

#Division
result_div = number_one / number_two
print("El resultado de la division es:", result_div)

El resultado de la suma es: 33
El resultado de la resta es: 9
El resultado de la multiplicacion es: 252
El resultado de la division es: 1.75

In [23]:
type(name)
type(number_one)
type(number_two)
type(result_div)

NameError: name 'name' is not defined

In [ ]:
# Operadores de comparacion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# igual ==
# diferente !=

In [29]:
#Condicionales 

if number_one > number_two:
    print("El numero uno es menor que numero dos")

El numero uno es menor que numero dos

In [30]:
#Condicionales 

if number_one > number_two:
    print(f"El numero uno {number_one}, es manor que numero dos {number_two}")

El numero uno 21, es manor que numero dos 12

In [32]:
#Condicionales 

if number_one != number_two:
    print(f"El numero uno {number_one}, es diferente que el numero dos {number_two}")

El numero uno 21, es diferente que el numero dos 12

In [31]:
#Condicionales 

if number_one == number_two:
    print(f"El numero uno {number_one}, es igual que el numero dos {number_two}")
else:
    print("Los numeros son diferentes")

Los numeros son diferentes

In [40]:
#Condicionales 
number_one = input("Ingrese el numero 1:")
number_one = float(number_one)

number_one = float(input("Ingrese el numero 2:"))

if number_one == number_two:
    print(f"El numero uno {number_one}, es igual que el numero dos {number_two}")
else:
    print("Los numeros son diferentes")

Los numeros son diferentes

In [35]:
#Todo lo que ingrese por teclado se tomara como cadena de caracteres
type(number_one)
type(number_two)

int